@using WEB253504Klebeko.Domain.Models
@model ListModel<Medicines>


@{
    ViewBag.Title = "Каталог продуктов";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    var currentCategory = request.Query["category"].ToString();
}

<div class="container">
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@item.Image" class="card-img-top" alt="@item.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer d-flex justify-content-cen+ter">
                        <a href="@Url.Action("Add", "Cart", new { id = item.Id, returnurl = returnUrl })" class="btn btn-primary">
                            Добавить в корзину <i class="bi bi-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<Pager current-page="@Model.CurrentPage"
       total-pages="@Model.TotalPages"
       category="@currentCategory"></Pager>

