@page
@model WEB253504Klebeko.UI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicines[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicines[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicines[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicines[0].Image)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Medicines[0].Category)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.Image" class="card-img-top" style="object-fit: contain; height: 150px;" alt="beer">
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td> *@
            <td>
                 <a class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a> |
                 <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i> Details</a> |
                 <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

